/* General styles */
/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');


header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  }
  
  header img {
  width: 120px;
  height: 40px;
  margin: 5px auto;
  padding: 5px 10px;
  
  }

header ul li {
  /* border-right: 2px solid rgb(211, 26, 26);
  border-left: 2px solid rgb(211, 26, 26); */
  border: 2px solid purple;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
  
}

.menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
  width: 120px;
  height: 40px;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  word-wrap: none;
  white-space: nowrap;
}

.menu li:hover {
  /* transform: scale(1.1); */
  background-color: black;
  border: 1px solid white;
}

.menu a:hover {
  color: white;
}


/* Heading 1 (H1) */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 24px;
}

/* Heading 2 (H2) */
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  margin: 18px;
  color: black;
}

#firsth2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 36px;
  font-weight: 700;
  /* line-height: 1.2; */
  /* margin-bottom: 18px; */
  color: white;
  width: 99%;
  height: 50px;
  /* background-color: white; */
  margin: 0 0;
  border-radius: 50px;
  text-transform: uppercase;
}

/* Heading 3 (H3) */
h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 12px;
}

/* Paragraph (P) */
p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  /* margin-bottom: 24px; */
}

/* Unordered List (UL) */
ul {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 24px;
}

/* List Item (LI) */
li {
  margin-bottom: 8px;
}

body {
	margin: 0;
	padding: 0;
  background-image: url('/basketball-background3.png');
  background-size: cover;
  background-repeat: repeat;
}
#table1{
  background-color: white;
}

h1, h2, h3 {
	margin: 0;
    text-align: center;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


/* Player list styles */
.player-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px;
}

.player-item {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  flex-basis: calc(20% - 30px);
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  overflow: hidden;
  }
  
  .player-item img {
  width: 100%;
  height: 70%;
  object-fit: contain;
  transition: transform 0.3s, filter 0.3s;
  }
  
  .player-item:hover {
  background-color: purple;
  color: white;
  
  }
  
  .player-item img:hover {
  transform: scale(1.2);
  height: 100%; /* adjust the height on hover */
  }
  
  .player-item p {
  margin: 5px 0;
  }

#h2v2{
  padding: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: black;
  width: 99%;
  height: 50px;
  background-color: white;
  margin: 0 0;
  border-radius: 50px;
  text-transform: uppercase;
}

#lastup{
  font-size: 12px;
  float: right;
  padding: 0 15px;
  margin: 0 0;
}



/* Schedule table styles */
.schedule-table {
	border-collapse: collapse;
	margin: 0;
	width: 100%;
}

.schedule-table th,
.schedule-table td {
	border: 1px solid #ccc;
	padding: 10px;
	text-align: center;
}


footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 16px;
  background-color: black;
  color: white;
  padding: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  padding: 0 5%;
}

#footertext{
  font-size: 15px;
}

.social-icons {
  text-align: center;
}



.social-icons .icon {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  color: white;
  transition: all 0.3s ease-in-out;
}

.social-icons .icon:hover {
  color: purple;
}



@media screen and (min-width: 200px) and (max-width: 680px) {
  header {
      margin: auto auto;
      background-color: transparent;
  }

  .menu {
      display: none;
  }


  .menu li {
      width: 100%;
      margin: 10px 0;
  }

  footer {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    text-align: center;
    font-size: 10px;
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
    padding: 0 0;
  }

  #footertext{
    font-size: 14px;
    margin: 5px 0;
    padding: 0 0;
  }

  .social-icons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0;
  }


}
/* Small screens (up to 768px) */
@media screen and (max-width: 768px) {
  .player-item {
    flex-basis: calc(50% - 20px); /* show two items per row */
  }
}

/* Medium screens (769px to 992px) */
@media screen and (min-width: 769px) and (max-width: 992px) {
  .player-item {
    flex-basis: calc(33.33% - 20px); /* show three items per row */
  }
}

/* Large screens (above 992px) */
@media screen and (min-width: 993px) {
  .player-item {
    flex-basis: calc(20% - 30px); /* show five items per row */
  }
}
